doctype html

html
  head
    title Gwen Bell - Technologist, Writer & Yoga Practitioner  - #{title}  
    meta(name='viewport', content='width=device-width')
    meta(name='viewport', content='initial-scale=1.0')
    meta(name='viewport', content='maximum-scale=1')
    link(rel="shortcut icon", href="/favicon.png")
    link(rel='stylesheet' href='/static/reserva.css')
    link(rel='stylesheet' href='/static/simplicitease.css')
  body
    .contain
      .twelve.col
        h1 <a href="/">Gwen Bell</a>  
        block content
        .greeting What are you looking at here? When it loads (and how fast it loads depends on your wifi speeds, but once it loads you can play with it offline. Which, think about it. Is pretty great, right?), you're looking at a decentralized social network called Decent. You can interact with it, and with me, by clicking on the random string of characters next to the word 'public', editing 'profile' to whatever user name you want to use, and then saying something, clicking a star, following a person, all the things you know how to do. This is beta technology, thanks for giving it a go. For the super tech crowd, hi! I build this site with NodeJS on an Arch Linux box both local and remote.
        br 
        iframe(src="http://decent.gwenbell.com/#@EwmF+Njz1JmbLDSfU+kCimaQbqca9kqtGyGXqrRgTV8=.ed25519")
        hr
     .twelve.col
       <h6 style="float:right; padding-right: 4em ">2018</h6>
